# Default owner for the whole repository
*       @marpi82

# Critical paths
/.github/                 @marpi82
/src/pyatmos_wg1000/      @marpi82
/SECURITY.md              @marpi82
/pyproject.toml           @marpi82
